# This is a basic workflow to help you get started with Actions

name: Auto Build

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build_and_deploy_to_pages:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    
    # Set Up Node
    - name: Setup Node.js
      uses: actions/setup-node@v1.4.2

    # Runs a set of commands using the runners shell
    - name: Build with GDexport
      run: |
        git clone https://github.com/Gdevelop-game/GDevelop-Open-Game Project
        cd Project/build
        yarn
        yarn web-build
      
    - name: Upload to GitHub Pages
      uses: crazy-max/ghaction-github-pages@v2.0.1
      with:
        # Build directory to deploy
        build_dir: Project/build/gdExport
        # The committer name and email address
        committer: Auto Builder
        # Commit message
        commit_message: Auto Built nightly game build
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        
  build_for_linux:
    runs-on: ubuntu-latest
        
    steps:
      
      - name: Build with GDexport
        run: |
          git clone https://github.com/Gdevelop-game/GDevelop-Open-Game Project
          cd Project/build
          yarn
          yarn electron-build
          
      - name: Build Electron app
        run: |
          cd Project/build/gdExport
          npm i --save-dev electron-builder
          ./node_modules/.bin/electron-builder -l AppImage
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          # Upload all potential executables
          path: Project/build/gdExport/dist/*.AppImage
          
  build_for_mac:
    runs-on: macos-latest
        
    steps:
      
      - name: Build with GDexport
        run: |
          git clone https://github.com/Gdevelop-game/GDevelop-Open-Game Project
          cd Project/build
          yarn
          yarn electron-build
          
      - name: Build Electron app
        run: |
          cd Project/build/gdExport
          npm i --save-dev electron-builder
          ./node_modules/.bin/electron-builder -m dmg
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          # Upload all potential executables
          path: Project/build/gdExport/dist/*.dmg
          
  build_for_windows:
    runs-on: windows-latest
      
    steps:
      - name: Build with GDexport
        run: |
          git clone https://github.com/Gdevelop-game/GDevelop-Open-Game Project
          cd Project/build
          yarn
          yarn electron-build
          
      - name: Build Electron app
        run: |
          cd Project/build/gdExport
          npm i --save-dev electron-builder
          .\node_modules\.bin\electron-builder.cmd -w portable
          
      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v2
        with:
          # Upload all potential executables
          path: Project/build/gdExport/dist/*.exe
